# Ignorar la carpeta de grafos FormatoP por completo
FormatoP/

# Ignorar binarios compilados (evitando ignorar los archivos fuente .cpp)
*cpp
!*.cpp
*_bin
*.o
*.exe
*.out
main.o

# Carpetas temporales y configuraciones de editor
.vscode/
.idea/
.DS_Store
